

@font-face {
    font-family: odinFont;
    src: url(./Norse-Bold.otf);
}

body {
    display: flex;
    justify-content: center;
    height: 100vw;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

a {
    color: #596D48;
}

button {
    background-color: #596D48;
    color: white;
}

#left-section {
    background-image: url("./green-leaf-background.jpg");
    display:flex;
    width: 25%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
}

#right-section {
    height: 100%;
    width: 30%;
    background-color: #f1f1f1;
}
h1 {
    width: 100%;
    background-color: #505050ab;
    color: white;
    font-family: odinFont;
    font-size: 10rem;
    height: 12rem;
    text-align: center;
}



img {
    height: 10rem;
    display: inline;
}

#light {
    background-color: #fff;
}


label {
    font-size: 10px;
    color: grey;
}

.input-label {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

#groups {
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: row;
}

button {
    margin: 10px;
    margin-left: 10px;
    height: 50px;
    width: 100px;
    font-size: large;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5%;
}

:invalid {
    border-color: red;
}

input {
    border: 1px solid black;
    border-radius: 2px;
    height: 1.2rem;
}

#right-section > *:not(form) {
    padding-left: 5px;
}

form {
    padding-left: 3px;
}